{% for question in latest_question_list %}
    <form action="{% url 'port:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>{{ question.test }}</h1></legend>
            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            {% for choice in question.answer_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_test }}</label><br>
            {% endfor %}
        </fieldset>
        <input type="submit" value="vote">
    </form>
{% endfor %}
